
<h1><%= @user.name %></h1>
</br>
<% if @user == current_user %>
    <h4>Your Events are:</h4>
    <% if !@events.empty? %>
        <% @events.each do |event| %>
            <div>
                <%= link_to event.name, event_path(event) %></br>
                <%= event.date_time.to_formatted_s(:long_ordinal) %></br>
            </div>
        <% end %>
    <% end %>
    <div>
        <%= button_to "Add New Event", new_event_path, method: "get" %>
    </div>
    <div>
        <%= button_to "See All Events", events_path, method: "get" %>
    </div>
</br>

    <h4>Your Games:</h4>
    <% if @games.empty? %>
        <p>No games. Buy more!</p>
    <% else %>
        <ul id="user-games">
        <button onClick="getUserGames(<%= current_user.id%>)">View Your Games</button>
        </ul>
    <% end %>

    <button onClick="displayCreateForm(<%= current_user.id %>)">Add New Game</button>
    <button onClick="getGames(<%= current_user.id %>, <%= @user.id %>)">See All Games</button>

    <div id="games-form"></div>
    <div id="all-games"><ul id='games-ul'></ul></div>

<% else %>
    <h4>User's Games:</h4>
    <% if @games.empty? %>
        <p>No games. Buy more!</p>
    <% else %>
        <ul id="user-games">
        <button id="user-games-button" onClick="getOtherUserGames(<%= @user.id %>)">View User's Games</button>
        </ul>
    <% end %>
    <ul id="games-ul">
        <button onClick='getGames(<%= current_user.id %>, <%= @user.id %>)'>See All Games</button>
    </ul>
<% end %>



